@charset "UTF-8";
body{
    background-color: lavenderblush;
    display: flex; /* 내부 요소를 flex배치 방법으로 배치 */
    align-items: center; /* 주축의 가운데 정렬 */
    justify-content: center; /* 교차축의 가운데 정렬 */
    width: 100%;   /* body의 너비를 브라우저 창의 가로크기의 100%로 설정 */
    height: 100vh; /* body의 높이를 브라우저 창의 세로크기의 100%로 설정 */
    margin: 0px;   /* 외부 여백을 삭제 */
}
table{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgrey;
    padding: 10px;
}
input{
    /* calc() 계산 함수를 통해 상대 크기와 px크기를 계산할 수 있습니다. */
    width: calc(100% - 8px);
    height: 25px;
    border: 2px solid lavenderblush;
    border-radius: 4px;
    /* x축 오프셋, y축 오프셋, 블러적용법위, 색상 */
    box-shadow: 2px 2px 4px lightgrey;
}
.btn{
    width: 100%;
    height: 30px;
    background-color: pink;
    color: white;
    border: none; /* none 속성값 비율 */
    border-radius: 5px;
}
#btn:hover{
    cursor: pointer;
}

.container{
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

/* form div{ */
form .input_group{
    text-align: left;
}

.modal {
    /* 모달창 요소는 표시해야될때에
       display속성을 그에 맞는 값으로 변경
       감춰야 될때에는 none속성 값을 사용합니다
    */
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* r, g, b, 알파값 */
    /* rgb는 0~255 : 알파는 0~1 -> 1은 표시 0은 투명*/
    background-color: rgba( 0, 0, 0, 0.5);
 }
 
 .modal_contents {
    position: fixed;
    top: 50%;
    left: 50%;
    /* 이동 수치를 %로 입력했을때에 자기 크기를 기준으로 이동시키는 함수 */
    transform: translate( -50%, -50%);
 }